<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a51044.myfirstapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/timg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="com.example.a51044.myfirstapp.ACTION_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".MyHomeActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.a51044.MyHomeActivity.ACTION_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".MySelfActivity">
            <intent-filter>
                <action android:name="com.example.a51044.MySelfActivity.ACTION_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".MyFlowActivity">

        </activity>

        <activity android:name=".MySerchActivity">

        </activity>

        <activity android:name=".OrderActivity">

        </activity>

        <activity android:name=".GoodsAddressActivity">
            <intent-filter>
                <action android:name="com.example.a51044.GoodsAddressActivity.ACTION_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".AddGoodsAddressActivity">
            <intent-filter>
                <action android:name="com.example.a51044.AddGoodsAddressActivity.ACTION_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".GoTalkActivity">

        </activity>
    </application>

</manifest>